.App {
  text-align: center;

  
  
}

#dropdown-basic{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#dropdown-basic {
  background-color: #4CAF50; 
  color: black; 
  border: 2px solid #4CAF50;
  
}
#dropdown-basic:hover {
  background-color: rgb(60,87,175);
  color: white;
  border: 2px solid rgb(60,87,175);
}

.App {
    background-image: url("https://media-exp1.licdn.com/dms/image/C4E1BAQF4m2uBROaBKg/company-background_10000/0?e=2159024400&v=beta&t=AJkAlhPoIJ-f6lv_B1syVp-Z6h9OmqkJNPjbdRzvybA"),url("Finbourne900x450-3.webp"),linear-gradient(#ffffff,white, #b9b8b8);;
    background-size: 62.2%,37.8%;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-position:left top,right top,top;
    background-attachment:local;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size:medium;
    color:white;
}
.button{
  background: white;
  border-radius: 8px;
  color: black;
  
}
.button:hover{
  background: darkgrey;
 
  

}



.select{
  width: 500px;
  color: #111111de;
  height: fit-content;
  
}
.select:hover{
  border: 3px solid #078cf8;

}


.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: relative;
  right: 0px;
  background-color: #e6e9eb;
  min-width: 160px;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  width:max-content;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.App-link {
  color: #61dafb;}



  .input{
    width: 490px;
    margin: auto;
    color: #111111de;
    height: 30px;
    
    
  }

  .input:hover{
    border: 3px solid #078cf8;

  }
    
  